:root{
    --bgColor:#e3e7e8;
    --black:#141647;
    --redColor:#E88;
    --white:#fff;
    --green : #64F4AC;
    --gradient : linear-gradient(to top, #d4dfd9, white);
    --shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --radius:14px;
    --header1:64px;
    --header2:32px;
    --pragraphColor:#B5B3B3;
    --marginLeftAndRight:64px;
    --paragraph2:#516783;
} 
*{
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--bgColor);
    color: var(--black);
    font-family: "Anuphan", "Merriweather", serif;


}

/*===========================
 header 
 ===================================*/
 



header{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px 64px;
    position: fixed;
    width: 100vw;
    z-index: 20;
    box-shadow: var(--shadow)
}
#logo{
    width: 48px;
    height: 48px;

}

/* button{
    padding:8px 16px;
    background-color: var(--black);
    color: var(--white);
    font-size: large;
    font-weight:600;
    border-radius: 5px;


} */
/* CSS */
button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

button:active,
button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    font-size: 24px;
    min-width: 196px;
  }
}
 
nav > ul{
display: flex;
align-items: center;
gap: 32px;
font-size: large;
list-style: none;

}

nav > ul > li:hover{
    border-bottom: 2px solid var(--black);

}

/*===========================
 heroAreaSection 
 ===================================*/
 #heroAreaSection{
    background: var(--gradient);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left:64px;
    position: relative;

 }
 .HelloContent{
    display: flex;
    flex-direction: column;
    gap: 64px;

 }
 .HelloContent > div{
    display: flex;
    flex-direction: column;
    gap: 64px;

 }

#welcomeMessageH1{
    background-color: var(--green);
    padding: 4px 8px;
    margin-top:128px;
    letter-spacing: 15.52px;
    display: block;
    margin-right: 20px;
    padding: 16px;
    border-radius: var(--radius);

}
#letChartBtn{
    width: 96px;
}

.ImageContainer{
    margin-top:128px;

   

}
.header1{
    font-size: var(--header1);
    color: var(--black);
}
p{
    color: var(--pragraphColor);
}

#Experince_projects,#skills{
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: 18px;
    border-radius: var(--radius);
    display: flex;
    margin-right: 24px;
    justify-content: space-between;
}
.Experince, .project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


/*===========================
 Skills 
 ===================================*/
 #skills{
    display: flex;
    justify-content: space-evenly;
    margin: 64px 128px;
}
/*===========================
myIntroduction
 ===================================*/

#myIntroduction{
    display: flex;
    justify-content: space-between;
    padding: 24px 64px;
    background-color: var(--white);
    padding: 64px 24px 64px 64px;
}

#leftIntroContent{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#rightIntroContent{
    width: 700px;
    display: flex;
flex-direction: column;
    gap: 24px;
    /* margin-right: 64px; */
    padding: 0px 64px;
    
}
.introContentDiv {
    display: flex;
    box-shadow: var(--shadow);
    padding: 24px;
    border-radius: var(--radius);

}

.content{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


 .heading2{
    font-size: var(--header2);
 }

 .paragraph2{
    color:var(--paragraph2);
 }
 
